@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .background_image {
    @apply w-full min-h-[530px] flex justify-center items-start;
    background-image: url(/ilustrasi-anak.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .black_transparent_container {
    @apply bg-black-transparent w-full min-h-[530px] py-[80px] px-[80px] flex flex-col gap-y-[30px];
  }

  .heading {
    @apply font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-start my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-start break-words;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
